<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Users</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}" th:fragment="upd">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>

  <br/>
  <label for="lastName">Enter lastName: </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>

  <br/>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>

  <br/>
  <label for="password">Enter password: </label>
  <input type="password" th:field="*{password}"  id="password"/>

  <br/>
  <label for="role">Choose role (ADMIN or USER): </label>
  <select name="role" th:field="*{role}" id="role">
    <option th:each="roles : ${T(ru.kata.spring.boot_security.demo.model.Role).values()}"
            th:value="${roles}" th:text="${roles}"></option>
  </select>
  <br/>
  <input type="submit" value="Update!"/>
</form>

<form action="/auth/logout" method="POST">
  <button type="submit">logout</button>
</form>
</body>
</html>